.theme-vanilla {
  --color-bg-html: theme("colors.white");
  --color-bg-content: theme("colors.gray.100");
  --color-bg-block: theme("colors.gray.200");
  --color-text-default: theme("colors.gray.900");
}

.theme-tang {
  --color-bg-html: #FFFCF9;
  --color-bg-content: #FFF4E8;
  --color-bg-block: #FFDDBB;
  --color-text-default: #553344;
}

.theme-cappuccino {
  --color-bg-html: #fbf5e9;
  --color-bg-content: #fbf0d9;
  --color-bg-block: #fbe5b5;
  --color-text-default: #5f4b32;
}

.theme-blackcurrent {
  --color-bg-html: #666666;
  --color-bg-content: #252525;
  --color-bg-block: #111111;
  --color-text-default: #f6f4f1;
}

